@if (trip(); as trip) {
  <article class="trip-card">
    <h1>{{ trip.name }}</h1>
    <h2>{{ trip.destination }}</h2>
    <img [src]="trip.image" [alt]="trip.name" />
    <p>{{ trip.description }}</p>
    <div class="trip-dates">
      <span>From: {{ trip.startDate }}</span>
      <span>To: {{ trip.endDate }}</span>
    </div>
    <p class="trip-price">{{ trip.price }}$</p>
    <div class="people-counter">
      <button (click)="decreasePeople()">-</button>

      <span> {{ people }} </span>

      <button (click)="increasePeople()">+</button>
    </div>

    <button
      (click)="bookTrip()"
      [disabled]="isUserBooked(trip.id)"
      [class.disabled]="isUserBooked(trip.id)"
    >
      Register
    </button>

    @if (isUserBooked(trip.id)) {
      <p>You are already registered for this trip</p>
    }

    @if (bookingSuccess()) {
      <div class="popup">
        <div class="popup-content">
          <p>Trip booked successfully!</p>

          <button (click)="closePopup()">Close</button>
        </div>
      </div>
    }
  </article>
}
