@if (trip(); as currentTrip) {
  <article class="trip-card">
    <h1>{{ currentTrip.name }}</h1>
    <h2>{{ currentTrip.destination }}</h2>
    <img [src]="currentTrip.image" [alt]="currentTrip.name" />
    <p>{{ currentTrip.description }}</p>
    <div class="trip-dates">
      <span>From: {{ currentTrip.startDate }}</span>
      <span>To: {{ currentTrip.endDate }}</span>
    </div>
    <p class="trip-price">{{ currentTrip.price }}$</p>
    <div class="people-counter">
      <button (click)="decreasePeople()">-</button>

      <span> {{ people }} </span>

      <button (click)="increasePeople()">+</button>
    </div>

    <button
      (click)="bookTrip()"
      [disabled]="isUserBooked(currentTrip.id)"
      [class.disabled]="isUserBooked(currentTrip.id)"
    >
      Register
    </button>

    @if (isUserBooked(currentTrip.id)) {
      <p>You are already registered for this trip</p>
    }

    @if (bookingSuccess()) {
      <div class="popup">
        <div class="popup-content">
          <p>Trip booked successfully!</p>

          <button (click)="closePopup()">Close</button>
        </div>
      </div>
    }
  </article>
}
