<h1>{{ trip()?.name }}</h1>

<h2>{{ trip()?.destination }}</h2>

<h3>From: {{ trip()?.startDate }}</h3>

<h3>To: {{ trip()?.endDate }}</h3>

<h3>{{ trip()?.description }}</h3>

<img [src]="trip()?.image" alt="" />

<h3>Price: {{ trip()?.price }}$</h3>

<h3>Travelers: {{ bookedTrip()?.people }}</h3>

@if (!isEditingPeople) {
  <button type="button" (click)="editPeople()">Edit Travelers</button>
}

@if (isEditingPeople) {
  <div class="people-counter">
    <button (click)="decreasePeople()">-</button>

    <span>{{ people }}</span>

    <button (click)="increasePeople()">+</button>
  </div>

  <button type="button" (click)="savePeople()">Save</button>
}
<button type="button" (click)="openDeleteConfirm()">Cancel Booking</button>

@if (showDeleteConfirm) {
  <div class="popup">
    <div class="popup-content">
      <p>Are you sure you want to cancel this booking?</p>
      <button type="button" (click)="cancelBooking()">Delete</button>
      <button type="button" (click)="closeDeleteConfirm()">Cancel</button>
    </div>
  </div>
}
